body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
h1{
  padding: 30px;
  text-align: center;
}
h2{
  padding-top: 50px;
  text-align: center;
}

#header {
  background-color: #a2d2ff;
}

#footer {
  background-color: #ffb703;
}

#left {
  font-size: 24px;
  margin: 50px;
  background-color: #ffc8dd;
}

#content{
  margin: 40px;
}
