

#one{
    background-color: #94d2bd;
    font-family: 'Poppins', sans-serif;
    margin: 50px 50px;
    padding: 0;
    text-align: center;
}

#two{
    background-color: #e9d8a6;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

#three{
    background-color: #ee9b00;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

#four{
    background-color: #f5cac3;
    font-family: 'Poppins', sans-serif;
    margin: 100px 100px;
    padding: 0;
    text-align: center;
}

#five{
    
    background-color: #f8edeb;
    font-family: 'Poppins', sans-serif;
    margin: 50px 100px;
    padding: 0;
    text-align: center;
    text-align: justify;
}
iframe{
    height: 200px;
}