body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d6d6d6;

}
#content{
    background-color: #ffffff;
    margin: 50px 300px;
    font-size: 15px;
    text-align: justify;
    font-weight: bold;

}
#header{
    display: flex;
    background-color: #ffd100;
    margin-bottom: 0px;
}

img{
    height: 130px;
}

h1{
    padding:10px 20px;
    height: fit-content;
    margin-bottom: 0;
}
#details h3{
    padding-left: 20px;
    background-color: #000000;
    color: #ffffff;
    width: 80px;
}

#profile h3{
    padding-left: 20px;
    background-color: #000000;
    color: #ffffff;
    width: 80px;
}
#education h3{
    padding-left: 20px;
    background-color: #000000;
    color: #ffffff;
    width: 110px;
}
#employment h3{
    padding-left: 20px;
    background-color: #000000;
    color: #ffffff;
    width: 200px;
}
#small{
    font-size: 11px;
    font-weight: bold;
}
.text{
    padding: 10px 50px;
}
#label{
    font-size: 11px;
    padding-top: 80px;
   margin-left: 0px;
    padding-left: 0px;
    height: fit-content;
}