body {
  padding: 0;
  margin: 0;
  font-size: 19px;
  font-family: "Sono", sans-serif;
}

h1 {
  text-align: center;
  padding-top: 50px;
}

#content {
  margin: 50px 200px;
  text-align: justify;
  display: flex;
  grid-template-columns: 1fr 1fr;
  gap: 0;
}

#img {
  height: 400px;
  width: 400px;

  padding: 30px;
}

#para {
  padding: 30px;
}
