body {
  padding: 0;
  margin: 0;
}

#bg {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

#text {
  text-align: center;
  font-size: 24px;
  color: #ffffff;
  margin: 50px;
}


button {
  font-size: 20px;
  font-weight: bold;
  border: 0.5px solid black;
  border-radius: 10px;
  color: #000000;
  background-color: #ffffff;
  padding: 10px 20px;
  margin: 30px;
}

button:hover {
  background-color: #ff0000;
  color: #ffffff;
}
