body {
  padding: 0;
  margin: 0;
  font-family: 'Sono', sans-serif;
}

h1 {
  padding-top: 50px;
  text-align: center;
}

#content {
<<<<<<< HEAD
  font-size: 22px;
  padding: 70px 410px;
=======
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border: 1px solid #000000;
  font-size: 22px;
  padding: 70px 100px;
>>>>>>> 14cf813968d45fec103d62a137158bd780e4c480
}

#question {
  padding-bottom: 30px;
}

.options {
  margin-bottom: 10px;
}

#nxtBtn {
<<<<<<< HEAD
  margin-left: 290px;
=======

>>>>>>> 14cf813968d45fec103d62a137158bd780e4c480
  margin-top: 20px;
  padding: 15px 40px;
  background-color: aqua;
  border: 2px solid #000000;
  font-family: 'Sono', sans-serif;
  font-size: 20px;
  border-radius: 5px;
}

<<<<<<< HEAD
=======
#nxtBtnDanger{
  margin-top: 20px;
  padding: 15px 40px;
  background-color: red;
  border: 2px solid #000000;
  font-family: 'Sono', sans-serif;
  font-size: 20px;
  border-radius: 5px;
}

>>>>>>> 14cf813968d45fec103d62a137158bd780e4c480
#nxtBtn:hover{
    background-color: aquamarine;

}

#guidelines{
<<<<<<< HEAD
  padding: 10px 50px;
=======
  padding: 10px 0px;
>>>>>>> 14cf813968d45fec103d62a137158bd780e4c480
  text-align: justify;
}

li{
  list-style: none;
  padding-bottom:10px ;
<<<<<<< HEAD
}
=======
}

#result{
  padding-left: 80px;
  padding-bottom: 50px;
}
>>>>>>> 14cf813968d45fec103d62a137158bd780e4c480
